# Organize data for 3rd experiment on authorship attribution

### This time using only 2 authors (authorship verification) from the Kaggle Authorship Corpus

In [3]:
import pandas as pd
import os

In [1]:
PATH =  '/Users/joaopedropadua/.cache/kagglehub/datasets/rtatman/blog-authorship-corpus/versions/2'

In [4]:
# List the files in the downloaded directory
print("Files in the dataset:")
for file in os.listdir(PATH):
    print(f"- {file}")

Files in the dataset:
- blogtext.csv

In [5]:
# Load data

df = pd.read_csv(os.path.join(PATH, 'blogtext.csv'))

df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [27]:
# Make a new DataFrame with only the 2 authors with the most posts

df_2_authors = df.groupby('id').size().sort_values(ascending=False).head(2).index

df_2_authors = df[df['id'].isin(df_2_authors)]

print("First few rows of the new DataFrame:")
display(df_2_authors.head())
print("--------------------------------\n")
print("Shape of the new DataFrame:")
df_2_authors.shape
print("\n--------------------------------\n")
#Check if there are only 2 authors
print("How many authors are in the new DataFrame?")
display(df_2_authors['id'].nunique())
print("--------------------------------\n")
# Check the number of posts for each author
print("How many posts does each author have?")
display(df_2_authors['id'].value_counts())
print("--------------------------------\n")

First few rows of the new DataFrame:

,id,gender,age,topic,sign,date,text
235798,449628,male,34,indUnk,Aries,"31,July,2002",Update I've added links to other web...
235799,449628,male,34,indUnk,Aries,"25,July,2002",Welcome to Get That Job! This is the...
235800,449628,male,34,indUnk,Aries,"30,August,2002",Viva La Library! Your local public l...
235801,449628,male,34,indUnk,Aries,"29,August,2002",Credential Files: Make your transcript...
235802,449628,male,34,indUnk,Aries,"23,August,2002",urlLink University of Cincinnati Care...

--------------------------------

Shape of the new DataFrame:

--------------------------------

How many authors are in the new DataFrame?

2

--------------------------------

How many posts does each author have?

id
449628    4221
734562    2301
Name: count, dtype: int64

--------------------------------

In [30]:
# Save the DataFrame to a pickle file
df_2_authors.to_pickle('./data/authorship_verification_kaggle_data_2.pkl')

In [31]:
# Create a traning set with 80% of the data and a test set with 20% of the data
df_2_authors_train = df_2_authors.sample(frac=0.8, random_state=42)
df_2_authors_test = df_2_authors.drop(df_2_authors_train.index)

# Save the training and test sets to pickle files
df_2_authors_train.to_pickle('./data/authorship_verification_kaggle_data_2_train.pkl')
df_2_authors_test.to_pickle('./data/authorship_verification_kaggle_data_2_test.pkl')