# Blog Authorship Corpus Exercise

This notebook work with the Blog Authorship Corpus dataset from Kaggle to experiment with LLMs and their potential for authorship attribution.

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (1.7.4.2)
Requirement already satisfied: bleach in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: charset-normalizer in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (3.4.0)
Requirement already satisfied: idna in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (6.30.1)
Requirement already satisfied: python-dateutil>=2.5.3 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (2.9.0)
Requirement already satisfied: python-slugify in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (75.1.0)
Requirement already satisfied: six>=1.10 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (4.66.5)
Requirement already satisfied: urllib3>=1.15.1 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (2.2.3)
Requirement already satisfied: webencodings in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kaggle) (0.5.1)

In [2]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.10-py3-none-any.whl.metadata (31 kB)
Requirement already satisfied: packaging in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kagglehub) (24.1)
Collecting pyyaml (from kagglehub)
  Downloading PyYAML-6.0.2-cp312-cp312-macosx_10_9_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: requests in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from requests->kagglehub) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages (from requests->kagglehub) (2024.8.30)
Downloading kagglehub-0.3.10-py3-none-any.whl (63 kB)
Downloading PyYAML-6.0.2-cp312-cp312-macosx_10_9_x86_64.whl (183 kB)
Installing collected packages: pyyaml, kagglehub
Successfully installed kagglehub-0.3.10 pyyaml-6.0.2

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rtatman/blog-authorship-corpus")

print("Path to dataset files:", path)

/Users/joaopedropadua/anaconda3/envs/cup/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/rtatman/blog-authorship-corpus?dataset_version_number=2...

100%|██████████| 290M/290M [00:29<00:00, 10.4MB/s]

Extracting files...

Path to dataset files: /Users/joaopedropadua/.cache/kagglehub/datasets/rtatman/blog-authorship-corpus/versions/2

In [6]:
# Let's examine the contents of the downloaded dataset
import os
import pandas as pd

# List the files in the downloaded directory
print("Files in the dataset:")
for file in os.listdir(path):
    print(f"- {file}")

Files in the dataset:
- blogtext.csv

In [9]:
# If there's a CSV file, let's read it
csv_files = [f for f in os.listdir(path) if f.endswith('.csv')]
if csv_files:
    print("\nReading the first CSV file:")
    df = pd.read_csv(os.path.join(path, csv_files[0]))
    print("\nFirst few rows of the dataset:")
    display(df.head())
    print("\nDataset shape:", df.shape)

Reading the first CSV file:

First few rows of the dataset:

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

Dataset shape: (681284, 7)

In [10]:
# Group the data by id  and count the number of texts per author
author_counts = df.groupby('id').size().reset_index(name='text_count')

# Sort the authors by the number of texts in descending order
author_counts = author_counts.sort_values(by='text_count', ascending=False)

In [11]:
author_counts.head(10)

           id  text_count
180    449628        4221
410    734562        2301
280    589736        2294
1872  1975546        2261
635    958176        2244
784   1107146        2237
145    303162        2114
618    942828        2068
971   1270648        1951
1601  1784456        1843

In [13]:
#Retreive only the top 10 authors in a new dataframe
top_authors = author_counts.head(10)

df_top_authors = df.copy()

#Merge the top authors with the original dataframe
df_top_authors = pd.merge(df_top_authors, top_authors, on='id', how='inner')

df_top_authors.head()

,id,gender,age,topic,sign,date,text,text_count
0,589736,male,35,Technology,Aries,"05,August,2004",Much funny. 2 points. As mentioned in the...,2294
1,589736,male,35,Technology,Aries,"05,August,2004","Harpers, Harpers, everywhere. Harpers, Har...",2294
2,589736,male,35,Technology,Aries,"05,August,2004","In an earlier post, Johnathan said: 'And ...",2294
3,589736,male,35,Technology,Aries,"05,August,2004","I'd post this on the RTG Blog, but I can't...",2294
4,589736,male,35,Technology,Aries,"05,August,2004",The answer to the first question lies with ...,2294

In [14]:
len(df_top_authors)

23534

In [17]:
# Check 5 texts from on author
author_id = 589736
author_texts = df_top_authors[df_top_authors['id'] == author_id]


for index, row in author_texts.head(5).iterrows():
    print(f"Text {index + 1}:")
    print(row['text'])

Text 1:
   Much funny.  2 points.  As mentioned in the email, no game this week; I have to research a 13th century poem for a final paper.  I enjoy the work, but I'd much rather have swashbuckling adventure in wintery Hillsfar.
Text 2:
   Harpers, Harpers, everywhere.  Harpers, Harpers, they really care. Harpers, Harpers, stay in motion.  Harpers, Harpers, healing potions. Harpers, Harpers, pins of green.  Harpers, Harpers, enter the scene. Harpers, Harpers, formed by a bard.  Harpers, Harpers, .... What?  A Bard?!?!  You got to be fucking kidding me, right?!?!  A Bard?!  Jesus Christ, we're screwed!!
Text 3:
   In an earlier post, Johnathan said:   'And then: What of Gregory? Does he feel a pull to move beyond his comfort zone, or is it a natural evolution for him to remain in the Central Heartlands of Faerun, patrolling the darkness that lurks therein? ........ There is room for everyone, and for every player in the saga, Glory Awaits. But what Glory will that be? The Local Hero? The Regional Hero? The Hero of the Land? The Hero of a World? Or the Hero of the Multiverse?'   To respond to this in a way, I would say that Gregory is really having to make a sort of leap of faith to swallow all of this extraplanar stuff.  He gets it and doesn't get it at the same time.  He can understand the world as being a large and changing place, but seeing Father Castillion in the Ethereal plane...well, freaked him out.  To Gregory, it was basically like talking to a ghost, and that is just creepy.  He understands gods, but for there to be something bigger than gods that can take a whole planet and put it in the middle of a nothingness place, it's just a bit much.  Even though he is actually experiencing it, he is still kind of thinking in the back of his mind, 'Yeah....right....whatever you say man.'  And what glory will he find?  Local Hero?  Multiverse?  He would most likely never expect to rise above something between Hero of the Land and Hero of the World.  Frankly, because he doesn't really see/understand the whole multiverse thing, and even being 'Hero of the World' is kind of pretentious in his eyes.
Text 4:
    I'd post this on the RTG Blog, but I can't post there. Could someone either post or e-mail me the resolution to the Catillian situation? As the original hook of our adventure, I'm kind of curious. Thanks.  # posted by IDIC : 10/23/2003 12:53:31 PM     Castillion  was rescued during the collapse by unnamed friends, and is now alive and well in the Ethereal. The party talked with him in the office of Din Dal Kut, who resides on a splinter plane. It seems that when Thulos took Terranel, the 'local group' of the multiverse was torn away with it, and all exist as a miniature multiverse in the in-between-place.   A side result of this occurence is that, according to Castillion, the dead have nowhere to go, and have been gathering at an unknown city for millenia. Castillion is now dedicated to renewing contact with the gods, if possible. He has recommened that the party join forces with the Harpers, a secret society formed by the last Elven bard at the very end of the Great Retreat.   Upon seeing Calleum and the banner of Heironeous in a magical viewing painting/frame on Din Dal Kut's office wall, Burne leapt to join his mentor, and was last seen in a battle in Rashemen, one of the lands that borders the Far East. The act broke the portal, and the party was unable to follow.   Also, Castillon is Ian's father.   Having reached the end of the original journey, Ian and Gregory are beginning to question if they should continue, or return to Tilverton to tell of Castillion's demise -- which was Castillion's request, as the truth would be too difficult to understand.  Players have the option of sending their character off to do something long-term, and create and play a new character. The world stage has expanded wide enough to accomodate such. Once the false murder rap is resolved, the party may see the Breaking of the original Fellowship -- but the beginning of a much larger, world-spanning epic.   # posted by Harmony : 10/23/2003 02:00:31 PM
Text 5:
   The answer to the first question lies with Master Po; the answer to the second is Sister Jayna, the priestess who took over after Castillion departed.

In [ ]:
# TODO: Separate two texts from each id to a "train" set (for few-shot prompting)